// ==========================================================================
// Theme Custom Variables
// ==========================================================================

//
// Example, Try next line!
//

// $brand-primary: blueviolet;


//FONTS
$corpo-texto: 'Myriad Pro', sans-serif;
$hero-font: 'Montserrat Black', sans-serif;
$title-font: 'Montserrat', 'Arial', sans-serif;

//TAMANHOS
$gutter: 50px;
$title-font-size: 30pt;

//CORES
$preto: #333333;
$cor-primaria-escura: #5a7754;
$cor-primaria-clara: #7ca621;
$cor-secundaria-clara: #e6e9ed;
$cor-secundaria-escura: #bec3cc;
